.Head-shot {
  background-image: url("https://live.staticflickr.com/65535/48796190808_1036eabaa1_c.jpg");
  float: right;
  position: relative;
  height: 400px;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-header {
  background-color: #3f4550;
  min-height: 400px;
}

.Wallpaper {
  background: url("https://live.staticflickr.com/65535/48861789243_3c24294883_c.jpg");
  position: relative; 
}